pandas
scikit-learn
streamlit
joblib
gunicorn
flask
numpy
requests
instaloader
flask-login
flask-bcrypt
flask-limiter
python-dotenv
flask-jwt-extended
flask-talisman
cryptography
streamlit-cookies-manager
folium
streamlit-folium
pycountry
flask-cors
psycopg2-binary
sqlalchemy