pandas
scikit-learn
streamlit
joblib
gunicorn
flask
numpy
requests
flask-bcrypt
flask-limiter
python-dotenv
flask-jwt-extended
flask-talisman
cryptography
folium
streamlit-folium
pycountry
flask-cors
psycopg2-binary
sqlalchemy
sib-api-v3-sdk